body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type='text'], input[type='email'], input[type='search'],
input[type='password'], textarea
{
-webkit-user-select: text;
}

html {
  margin: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
